{% extends "header.htm" %}

{% block title %}

Add Program | Sympos
{% endblock %}

{% block content %}
{% include "navbar/navbar.htm" %}
<div class="container col-sm-6 col-md-6 col-xs-6 col-lg-6 border border-dark rounded " style="margin-top: 20px; margin-bottom: 20px;">
    <h1 class="display-4 fw-bold text-center my-3 text-primary">ADD SYMPO</h1>
    <form action="" method="POST" autocapitalize="off" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="form-group my-2">
        <label for="uniqueNumber">Unique Number</label>
        <input type="text" id="uniqueNumber" name="uniqueNumber" class="form form-control my-2" readonly value="{{request.session.uniqueNumber}}" placeholder="Enter Your Unique Number">
    </div>
    <div class="form-group my-2">
        <label for="symName">Programme</label>
        <input type="text" id="symName" name="symName" class="form form-control my-2" placeholder="Name of the Programme">
    </div>
    <div class="form-group my-2">
        <label for="guest">Event Guests</label>
        <textarea name="guest" id="guest" cols="30" rows="1" class="form form-control my-2" placeholder="Event Guests"></textarea>
    </div>

    <div class="form-group">
        <label for="Caption">Caption</label>
        <input type="text" id="Caption" name="Caption"  class="form form-control my-2" placeholder="Caption of the Programme">
    </div>
    <div class="form-group">
        <label for="collegeName">College</label>
        <input type="text" id="collegeName" name="collegeName"  class="form form-control my-2" placeholder="Name of the College">
    </div>
    <div class="form-group">
        <label for="Department">Department</label>
        <input type="text" id="Department" name="Department"  class="form form-control my-2" placeholder="Name of the Department">
    </div>
    <div class="form-group">
        <label for="RegistrationFee">Registration Fee</label>
        <input type="number" id="RegistrationFee" name="RegistrationFee"  class="form form-control my-2" placeholder="Registration Fee">
    </div>

    <div class="form-group">
        <label for="startdate">Start Date</label>
        <input type="text" id="startdate" name="startdate"  class="form form-control my-2" placeholder="Event Start Date">
    </div>
    <div class="form-group">
        <label for="enddate">End Date</label>
        <input type="text" id="enddate" name="enddate"  class="form form-control my-2" placeholder="Event End Date">
    </div>
    <div class="form-group">
        <label for="lastDate">Last date of Registration</label>
        <input type="text" id="lastDate" name="lastDate"  class="form form-control my-2" placeholder="Last Date of Registration">
    </div>

    <div class="form-group">
        <label for="eventType">Event Type</label>
        <select name="eventType" class="form form-control" id="eventType">
            <option value="" selected disabled>Event Type</option>
            <option value="Online" >Online</option>
            <option value="Offline" >Offline</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Category">Category</label>
        <select name="Category" class="form form-control" id="Category">
            <option value="" selected disabled>Category</option>
            <option value="Symposium" >Symposium</option>
            <option value="Conference" >Conference</option>
            <option value="Events" >Events</option>
            <option value="Hackathon" >Hackathon</option>

        </select>
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" id="location" name="location"  class="form form-control my-2" placeholder="Location">
    </div>
    <div class="form-group">
        <label for="locationLink">Location Link</label>
        <input type="text" id="locationLink" name="locationLink"  class="form form-control my-2" placeholder="location Link (Google Map Link)">
    </div>
    <div class="form-group">
        <label for="eventLink">Event Link</label>
        <input type="text" id="eventLink" name="eventLink"  class="form form-control my-2" placeholder="Event Website Link">
    </div>
    <div class="form-group">
        <label for="chatLink">Whatsapp Number</label>
        <input type="text" id="eventLink" name="chatLink"  class="form form-control my-2" placeholder="Whatsapp Number ">
    </div>

    <div class="form-group">
        <label for="about">About the Programme</label>
        <textarea name="about" id="about" cols="30" rows="1" class="form form-control my-2" placeholder="About the Programme"></textarea>
    </div>
    <div class="form-group">
        <label for="contact">Contact Details</label>
        <textarea name="contact" id="contact" cols="30" rows="1" class="form form-control my-2" placeholder="Contact Details"></textarea>
    </div>
    <div class="form-group">
        <label for="Brouchure">Brouchure</label>
        <input type="file" name="Brouchure" class="form form-control my-2" id="Brouchure" >
    </div>
    <div class="justify-content-center text-center mb-3">
        <div class="" >
            <input type="submit" value="Add Programme" class="btn btn-primary  text-white w-50">
        </div>
    </div>

    </form>

</div>

{% include "footer/footer.htm" %}
{% endblock %}