{% extends "header.htm" %}

{% block title %}
FAQ | SYMPHOS
{% endblock title %}

{% block content %}
{% include "navbar/navbar.htm" %}

<section class="container">
    <h1 class="display-4 text-center text-primary fw-bold " style="margin-top:80px">FREQUENTLY ASKED QUESTION</h1><hr>
    <h3 class="text-primary fw-bold">What is Symphos?</h3>
    <h5 class="fw-bold mb-4">Symphos is a Website for the School and College Students, To know ablout the events, Symphosiyum, Hackathon, Conference. </h5>
    <h3 class="text-primary fw-bold ">Is the details present here are realtime Programme details?</h3>
    <h5 class="fw-bold mb-4">Yes, The details present in the website are realtime details by the repective colleges </h5>
    <h3 class="text-primary fw-bold ">Is the details present here are realtime Programme details?</h3>
    <h5 class="fw-bold mb-4">Symphos is a Website for the School and College Students, To know ablout the events, Symphosiyum, Hackathon, Conference. </h5>
    
    <h3 class="text-primary fw-bold ">Is the details present here are realtime Programme details?</h3>
    <h5 class="fw-bold mb-4">Symphos is a Website for the School and College Students, To know ablout the events, Symphosiyum, Hackathon, Conference. </h5>
    
    <h3 class="text-primary fw-bold ">Is the details present here are realtime Programme details?</h3>
    <h5 class="fw-bold mb-4">Symphos is a Website for the School and College Students, To know ablout the events, Symphosiyum, Hackathon, Conference. </h5>
    

</section>



{% include "footer/footer.htm" %}
{% endblock %}