<footer class="text-center text-lg-start text-white  mt-5 " style="background-color: rgb(245, 245, 245);">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
      <div class="me-5 d-none d-lg-block">
        <span class="fw-bold">FOLLOW US ON SOCIAL MEDIA FOR MORE INFORMATION :</span>
      </div>
      <div>
        <a href="https://www.facebook.com/akshaypiranavb/" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/akshaypiranav/" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
        <a href="mailto:akshaypiranavb@gmail.com" class="me-4 text-reset"><i class="fa fa-google" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/akshaypiranav/" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>

      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-3">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-superpowers" aria-hidden="true"></i>
                SYMPHOS</h6>
            <p class=" ">
To find a comprehensive list of programs taking place across India, explore official event websites, consult local news sources, and utilize event platforms for up-to-date information on diverse events nationwide.             </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="text-decoration: none !important;">
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p><a href="{% url 'faq' %}" class="textunder">FAQ</a></p>
            <p><a href="{% url 'notify' %}" class="textunder">NOTIFY</a></p>
            <p><a href="{% url 'index' %}" class="textunder">BUY ME A COFFEE</a></p>
            <p><a href="#contact" class="textunder">CONTACT US</a></p>
            <p><a href="{% url 'index' %}" class="textunder">LOCATION</a></p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
            <p><i class="fa fa-home"></i> AKSHAY</p>
            <p><i class="fa fa-envelope"></i> symphos@gmail.com</p>
            <p><i class="fa fa-phone"></i> + 91 9489174995</p>
            <p><i class="fa fa-phone"></i> + 91 9488970748</p>
          </div>
  
        </div>
      </div>
    </section>
    <div class="text-center p-4">
      &copy;  2025 COPYRIGHT <a class=" fw-bold textunder"  > AKSHAY</a>
    </div>
  </footer>